*{
    margin:0;
    padding: 0;
    font-family: 'poppins', 'sans-sarif';
    box-sizing: border-box;
   
   }
   body{
    background-color: #af82d8;
   }
   .app{
      width: 90%;
      max-width: 600px;
       background-color: #ffff;
       margin: 100px auto 0px;
       padding: 30px;
       border-radius: 10px;
   }
   .app h1{
       color: #131365;
       font-weight: 600;
       border-bottom: 1px solid #333;
       padding-bottom: 30px;
       font-size: 25px;
   
   }
   .quiz{
       padding: 20px 0;
   }
   
   .quiz h2{
       font-size: 18px;
       font-weight: 600;
       color: #131365;
   }
   .btn{
       background: #fff;
       color: #222;
       font-weight: 500;
       width: 100%;
       border: 1px solid #222;
       padding: 10px;
       margin: 10px 0;
       text-align: left;
       border-radius: 4px;
       cursor: pointer;
       transition: all 0.3s;
   }
   .btn:hover:not([disabled]){
       background: #222;
       color: #fff;
   }
   .btn:disabled{
       cursor: no-drop;
   }
   #next-btn{
       margin: 20px auto 0;
       background: #171772;
       border: 0;
       padding: 10px;
       color: #fff;
       width: 150px;
       font-weight: 700;
       border-radius: 4px;
       cursor: pointer;
      display: none;
   }
   
   
   .correct{
       background: #9aeabc;
   }
   .incorrect{
       background: #ff9393;
   }
   